.App {
  text-align: center;
}


h1, h2, h4 {
  text-transform: uppercase;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

form {
  flex-direction: column-reverse;
  margin-bottom: 3vh;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #3786ff;
  overflow: hidden;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 5vh;

}




.ting {
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("./assets/wave.png");
  background-size: 1000px 100px;
}

.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
.wave3 {
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15;
}
.wave4 {
  animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}


@keyframes animate {

  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
  
}


@keyframes animate2 {

  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}